[MASTER]
init-hook="from pylint.config import find_pylintrc; import os, sys; sys.path.append(os.path.dirname(find_pylintrc())+'/tilingsgui')"
good-names=r,c,x,y,h,w,i,j,k,n,x1,x2,y1,y2
ignore-patterns=test_.*?py
max-args=7
disable=bad-continuation