name: tests

on: [push, pull_request]

jobs:

  test:
    strategy:
      fail-fast: false
      matrix:
        include:
          # Linting and type checking (run on Python 3.11)
          - python: "3.11"
            toxenv: flake8
            os: ubuntu-latest
          - python: "3.11"
            toxenv: mypy
            os: ubuntu-latest
          - python: "3.11"
            toxenv: pylint
            os: ubuntu-latest
          - python: "3.11"
            toxenv: black
            os: ubuntu-latest

          # Python version testing (Linux)
          - python: 3.8
            toxenv: py38
            os: ubuntu-latest
          - python: 3.9
            toxenv: py39
            os: ubuntu-latest
          - python: "3.10"
            toxenv: py310
            os: ubuntu-latest
          - python: "3.11"
            toxenv: py311
            os: ubuntu-latest
          - python: "3.12"
            toxenv: py312
            os: ubuntu-latest
          - python: "3.13"
            toxenv: py313
            os: ubuntu-latest
          - python: pypy-3.8
            toxenv: pypy38
            os: ubuntu-latest
          - python: pypy-3.9
            toxenv: pypy39
            os: ubuntu-latest
          - python: pypy-3.10
            toxenv: pypy310
            os: ubuntu-latest

          # Cross-platform testing (Python 3.11)
          - python: "3.11"
            toxenv: py311
            os: macos-latest
          - python: "3.11"
            toxenv: py311
            os: windows-latest

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python }}
          allow-prereleases: true
      - name: install dependencies
        run: |
          python -m pip install --upgrade pip setuptools
          python -m pip install tox
      - name: run
        env:
          TOXENV: ${{ matrix.toxenv }}
        run: tox
      - name: setup
        run: python setup.py install
